<strong>Ola, {{provider}}</strong>
<p>Houve um cancelamento de horarion, confira os detalhes abaixo:</p>
<p>
  <strong>Client:</strong> {{user}} <br />
  <strong>Data/hora:</strong> {{date}} <br />
  <br />
  <small>
    O horario esta novamente disponivel para novos agendamentos
  </small>
</p>
